appdirs==1.4.4
asgiref==3.2.3
astroid==2.4.2
attrs==20.1.0
black==19.10b0
certifi==2020.6.20
Click==7.0
colorama==0.4.3
Django==3.1.10
django-crispy-forms==1.9.2
isort==5.4.2
Jinja2==2.11.1
lazy-object-proxy==1.4.3
livereload==2.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.0.4
mkdocs-material==3.0.6
pathspec==0.8.0
Pygments==2.2.0
pylint==2.6.0
pymdown-extensions==6.0
pytz==2018.5
PyYAML==5.3
regex==2020.7.14
six==1.15.0
sqlparse==0.3.0
toml==0.10.1
tornado==5.1.1
typed-ast==1.4.1
wincertstore==0.2
wrapt==1.12.1
