<!-- templates/base.html -->

{% load bootstrap4 %}
{% load staticfiles %}

{% block doctype %}
    <!DOCTYPE html>
    <html lang="en">
{% endblock %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{% static 'css/bootswatch_litera_bootstrap.css' %}">
        {% endblock %}

        {% block javascripts %}
            {% bootstrap_javascript jquery='full' %}
        {% endblock %}
    </head>
{% endblock %}

<body>
{% block body %}
    {%  block nav %}<!-- HERE -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">BRAND</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{% url 'about' %}">about</a>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
    </div>
{% endblock body %}  <!-- AND HERE -->
</body>
</html>
