<!-- templates/courses/course_list.html -->

{% extends 'bootstrap_base.html' %}

{% block content %}

    <div class="card-deck">
        {% for course in object_list %}
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"> {{ course.college }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ course.course_number }} {{ course.course_name }}</h5>
                    <p class="card-text">{{ course.course_description }}</p>
                </div>
                <div class="card-footer bg-transparent text-center text-muted text-white-50">
                    <a href="#" class="badge badge-secondary">Edit</a> | <a href="#" class="badge badge-secondary">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
